/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.preview-image{cursor: pointer;}

.product_img {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.product_img .icon_19 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 37px;
  left: 12px;
}

.product_img_list {
  position: relative;
  margin: 0 auto;
}

.product_img_list .icon_19 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 4px;
}

a:link {text-decoration: none; color: rgb(22, 22, 23);}
a:visited {text-decoration: none; color: rgb(22, 22, 23);}
a:active {text-decoration: none; color: grey;}
a:hover {text-decoration: underline; color: rgb(22, 22, 23);}

.swiper-container {
  width: 60%;
  height: 600px; /* 예시로 설정한 고정 높이, 실제 사용 환경에 맞게 조정 필요 */
  max-width: 60%;
  position: relative; /* Swiper 네비게이션 버튼 위치 조정을 위해 relative로 설정 */
  margin: auto; /* 가운데 정렬 */
  overflow: hidden;
  text-align: center;
}
.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
}
.swiper-button-prev {
  left: 110px;
}
.swiper-button-next {
  right: 110px;
}
/* 페이지네이션 위치 조정 */
.swiper-pagination {
  position: absolute;
  bottom: -8px !important;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

#loadingButtonContainer {
  text-align: center;
}